@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;600&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Kanit', sans-serif
}

html {
  background-color: #171717;
  color: #eee;
}

.dimensions {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin: 5% auto;
}

#xy, #send, #xyLabel {
	visibility: hidden;
	position: absolute;
}

#xyLabel, #sizeLabel {
  display: block;
  margin: 10px 0;
}

#xy, #size{
  display: block;
  text-align: center;
  width: 130px;
  height: 50px;
  font-size: 16px;
  margin: 20px auto;
  outline: none;
  border-radius: 8px;
  border: none;
}

#send, #calcularButton{
  margin: 20px auto;
  display: block;
  width: 80px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  background-color: #00b500;
  color: #eee;
  border: none;
  outline: none;
  border-radius: 8px;
  transition: 0.2s;
}

#createCP {
  margin: 20px auto;
  display: block;
  width: 80px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  background-color: #00b500;
  color: #eee;
  border: none;
  outline: none;
  border-radius: 8px;
}

#send:hover {
	background-color: #018401;
	transition: 0.2s;
}

#canvas {
	border: 1px solid black;
	display: block;
}

footer {
  width: 100%;
  text-align: center;
}

#points {
  visibility: hidden;  
}

#points, th, tr, td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

#distanciaPonto {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

 #dxyA, #dxyB {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 16px;
  margin: 5px auto;
  outline: none;
  border-radius: 8px;
  border: none;
 }

 .dxys {
  margin: 20px auto;
}

@media screen and (max-width: 685px) {

	#canvas {
		width: 90%;
	}

	#container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  gap: 30px;
	  width: 90%;
	  margin: 5% auto;
	}
}